<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
  <title>Search Results</title>
</head>
<body>
  <header id="best-books">
    Best Books!
  </header>
  <h1 class="results-bar"> Search Results</h1>
  <!-- Put in variable here from server.js from response.render  -->
    <!-- for loop here. The loop runs through the booksArray 
    and renders a div with the image of the book, title and description -->
  
    <% for(let i=0; i < bookArray.length;i++) { %>
      <div class="book-container">
        <div class="image-container">
      <img src="<%= bookArray[i].image%>" class="images" alt="">
      </div>
    <div class="book-title"><%= bookArray[i].title %>
    </div>
    <div class= "book-author"><%= bookArray[i].authors %>
<!-- Add in author Name -remember that it is an array of authors which will require another for loop -->
    </div>
    <div class="book-description">
      <%= bookArray[i].description %>
    </div>
    <!-- the div below should become a form so that we can add inputs based of lab 12 (ISBN, save etc.) WE do not need a fieldset and legend and change the 'type' to be hidden. We may also just get rid of labels. We just want a button with a hidden form.-->
    <div class="book-select">
      <form action="/pages/books/detail<%= bookArray %>" method="POST">
        <input type="submit" value="Select this Book">
      </form>
    </div>
    </div>
    <% } %>
</body>
</html>